<div class="h-100 bg-gradient">
  <div class="container bg-light w-50 pt-3 pb-4">
    <div class="text-center mb-3 text-black display-4"><% t "change_profile"%></div>
    <%= form_with(model: @user, local: true, html: { :multipart => true }) do |form| %>
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
          <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <label for="name" class="sr-only"><%= t "username" %></label>
      <%= text_field_tag :name, nil, placeholder: t("name"),
        class:"form-control mb-2", value: @user.name %>
      <label for="email" class="sr-only"><%= t "email" %></label>
      <%= text_field_tag :email, nil, placeholder: t("email"),
        class:"form-control mb-2", value: @user.email, disabled: true %>
      <label for="avatar" class="sr-only"><%= t "avatar" %></label>
       <%= file_field_tag :avatar, class:"mb-2" %>
      <label for="password" class="sr-only"><%= t "password" %></label>
      <%= password_field_tag :password, "", placeholder: t("password"),
        class:"form-control mb-2" %>
      <label for="confirm_password" class="sr-only">
        <%= t "confirm_password" %></label>
      <%= password_field_tag :password_confirmation, nil,
        placeholder: t("confirm_password"), class:"form-control mb-2" %>
      <%= submit_tag t(".update"), class: "btn btn-primary btn-block" %>
      <p class="mb-3 text-center text-muted">Copyright &copy; 2019</p>
    <% end %>
  </div>
</div>
