<div class="left-side col-md-4 d-none d-md-block">
  <div class="card shadow">
    <%= image_tag user_avatar(@user), class: "card-img-top" %>
    <div class="card-body pb-0">
      <h4 class="card-title text-center font-weight-bold">
        <%= @user.name %>
      </h4>
      <div class="row py-2 text-center">
        <div class="col-6 border-right">
          <a href="" class="font-weight-bold">
            <p><%= t ".following" %></p>
            <span>50</span>
          </a>
        </div>
        <div class="col-6">
          <a href="" class="font-weight-bold">
            <p><%= t ".followed" %></p>
            <span>50</span>
          </a>
        </div>
      </div>
      <div class="row">
        <% if is_current_user?(@user) %>
          <%= link_to t(".my_page"), @user,
            class: "btn btn-sm btn-primary w-50" %>
          <%= link_to t(".sign_out"), logout_path,
            class: "btn btn-sm btn-danger w-50" %>
        <% end %>
      </div>
      <div class="sub-menu mt-3">
        <ul class="nav justify-content-between">
          <li class="nav-item">
            <li><%= link_to t(".about"), "#", class: "nav-link" %></li>
          </li>
          <li class="nav-item">
            <li><%= link_to t(".contact"), "#", class: "nav-link" %></li>
          </li>
          <li class="nav-item">
            <li><%= link_to t(".help"), "#", class: "nav-link" %></li>
          </li>
        </ul>
        <p class="text-muted text-center small">
          Copyright &copy; thanh binh
        </p>
      </div>
    </div>
  </div>
</div>
