<!DOCTYPE html>
<html>
  <head>
    <title>RubyNaitei2019InstagramFake</title>
    <%= render "layouts/rails_default" %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <div class="w-75 m-auto mt-5 py-5">
      <%= render "layouts/locale" %>
      <% flash.each do |message_type, message| %>
        <%= content_tag :div, message, class: "alert alert-#{message_type}" %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
